{% extends 'posts/base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="container mt-4 text-center">
            <h1>Все посты</h1>
            {% for post in posts %}
                <div class="w-75 mx-auto">
                    <div class="card mt-4 post">
                        <div class="card-body">
                          <h4>{{ post.title }}</h4>
                          {% if post.img %}
                            <img src="{{ post.img.url }}" alt="img" height="400px" width="400px">
                          {% endif %}
                          <div>
                            {{ post.text|truncatewords:15 }}
                          </div>
                          <ul class="w-75 mt-3 mb-0 mx-auto list-out">
                            <li><img src="{% if request.user.img %} {{ post.user.img.url }} {% else %} {% static 'img/1.jpg' %} {% endif %}" alt="img" height="40px" width="40px"></li>
                            <li class="pt-2"><h6>{{ post.user }}</h6></li>
                            <li class="pt-2">
                                <ul class="list-in">
                                    <li><a href="{% url 'posts:detail' post.pk %}"><i class="fa-regular fa-comment"></i></a></li>
                                    <li><p>{{ post.comment_post.count }}</p></li>
                                </ul>
                            </li>
                            <li class="pt-2">
                                <ul class="list-in">
                                    <li><a href="{% if request.user.is_authenticated %} {% url 'posts:like' post.pk %} {% else %} # {% endif %}"><i class="fa-regular fa-heart"></i></a></li>
                                    <li><p>{{ post.like_post.count }}</p></li>
                                </ul>
                            </li>
                            <li class="pt-2">{{ post.date }}</li>
                            <li><a href="{% url 'posts:detail' post.pk %}">
                                <button type="button" class="btn btn-dark">Читать полностью</button>
                                </a>
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
    {% if is_paginated %}
        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                    <a class="page-link"
                        href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }} {% else %} # {% endif %}"
                        tabindex="-1" aria-disabled="true">Предыдущая
                    </a>
                </li>
                {% for page in page_obj.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                    <a class="page-link"
                        href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {% else %} # {% endif %}"
                        tabindex="-1" aria-disabled="true">Следующая
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}